<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="UMAUsername" value="CRMTest_DIROPS@ultimatemedical.edu" />
    <add key="UMAPassword" value="eyed--5T&amp;tZ" />
    <add key="UMACrmUrl" value="https://umatest1.crm.dynamics.com/" />
    <add key="PowerAppsUsername" value="CRMTest_DIROPS@ultimatemedical.edu" />
    <add key="PowerAppsPassword" value="eyed--5T&amp;tZ" />
    <add key="PowerAppsCrmUrl" value="https://make.powerapps.com/" />
    <add key="MfaSecretKey" value="" />
    <add key="AzureKey" value="" />
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow></configuration>